* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

body {
  background-color: #fbfff4;
}

.header {
  display: flex;
  background-color: white;
  flex-direction: row;
  margin: 1rem 3rem;
  border: whitesmoke;
  border-radius: 1rem;
  border-style: ridge;
  padding: 1rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.sideHeader {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.nLogo {
  height: 3rem;
  width: 3rem;
  border-radius: 360px;
}

.notesContainer {
  margin: 0rem 3rem;
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
}

.addNote {
  height: 7rem;
  border-style: groove;
  border-radius: 1rem;
  padding: 2rem;
}

.newNoteButton {
  color: white !important;
  border-color: black !important;
  background-color: black !important;
  margin-right: 2rem !important;
  margin-top: 0.5rem !important;
}

.noteCard {
  font-size: 1rem;
  height: 12.5rem;
  width: 15rem;
  padding: 30px;
  margin: 10px;
  border-radius: 1rem;
}

.titleCard {
  font-family: "poppins";
  font-size: 1.25rem;
  margin-bottom: 7px;
  letter-spacing: 0.25rem;
}

.title2Card {
  font-family: "poppins";
  font-size: 1rem;
  margin-bottom: 7px;
}
.contentCard {
  text-overflow: ellipsis;
}

.NotesPage {
  margin: 2rem;
  color: black;
  background-color: white;
}

.rightHeaderNotes {
  margin-top: 1rem;
}

.saveButton {
  width: 6rem;
}

.deleteButton {
  margin-left: 2rem !important;
}

.ckEditor {
  max-height: 40rem;
  height: 38rem;
  overflow: scroll;
}

.cardTitle {
  font-size: 1.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.cardText {
  font-size: 0.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.notesPageHeader {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.titleNote {
  width: 50%;
}