* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

body {
  background-color:#FBFFF4;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 1rem 3rem;
  border: whitesmoke;
  border-radius: 1rem;
  border-style: ridge;
  padding: 1rem;
  justify-content: space-between;
}

.sideHeader {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.headerItem {
  margin-right: 2rem;
  margin-top: 1rem;
}

.nLogo {
  height: 3rem;
  width: 3rem;
  border-radius: 360px;
}

.notesContainer {
  margin: 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
}

.addNote {
  height: 7rem;
  border-style: groove;
  border-radius: 1rem;
  padding: 2rem;
}

.noteCard {
  background-color: #a494c5;
  height: 12.5rem;
  width: 19rem;
  padding: 30px;
  margin: 10px;
  border-radius: 1rem;
}

.titleCard {
  font-family: "poppins";
  font-size: 1.25rem;
  margin-bottom: 7px;
  letter-spacing: 0.25rem;
}

.title2Card {
  font-family: "poppins";
  font-size: 1rem;
  margin-bottom: 7px;
}
.contentCard {
  text-overflow: ellipsis;
}

.NotesPage {
  margin: 2rem;
  color: black;
  background-color: white;
}

.saveButton {
  margin-right: 3rem;
}

.ckEditor {
  max-height: 40rem;
  overflow: scroll;
}

.cardTitle {
  font-size: 1.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
-webkit-line-clamp: 3;
}